html, body {
	padding:10px;
	margin:0;
    background-color: #333;
    color:#fff;
    font-family: Arial;
}

a:active,a:link,a:visited {
    color:#d85081;
    
}

table {
    border:1px solid #333;
}
table td {
    border:1px solid #333;
    padding: 10px;
    
}

#example #header {
    background-color: #ccc;
    min-height: 40px;
    height: 40px;
}
#example #header #logo {
    color:#333;
    float:left;
    padding:10px 10px;
}

#example #header #menu {
    float:right;
}

#example #header #menu ul {
    color:#000;
    list-style: none;
    margin:0;
    padding:0;
}
#example #header #menu ul  li {
    float:left;
     padding: 10px 10px;
}

#example #header #menu ul  li a {
    color: #333;
}

#example #main {
    clear:both;
    float:left;
    width: 70%;
    margin-top:10px;
    background-color: #FFF;
        margin-bottom: 10px;
    
}

#example #main #home {
    color:#333;
    
    
}

#example #main #home p {
    padding:0px 10px;
}

#example #aside {
    margin-top:10px;
    float:right;
    background-color: #ccc;
    padding:10px;
    width: 25%;
        margin-bottom: 10px;
}

#example #aside h2 {
    color:#222;
}

#example #aside h4 {
    color:#333;
    margin: 15px 0 8px 0;
}
#example #aside p {
    padding: 0 0;
    margin: 0 0;
    font-size: 90%;
    color:dimgrey;
}


#example #footer {
    clear: both;
    background-color: #CCC;
    min-height: 40px;
    background-image: none;
    height: auto;
}


#example #footer #menu {
    float: right;
}



#example #footer #menu ul {
    color:#000;
    list-style: none;
    margin:0;
    padding:0;
}
#example #footer #menu ul  li {
    float:left;
    padding: 10px 5px;
}

#example #footer #menu ul  li a {
    color: #333;
    font-size: 80%;
}


#example #footer #address {
    float:left;
}
#example #footer #address p {
     color: #333;
     font-size: 80%;
    padding-left: 10px;
}
    
/*    */